Web-Scrapping/node_modules
Web-Scrapping/dist
Web-Scrapping/pnpm-lock.yaml

# Proxy service
proxy/node_modules
proxy/dist
proxy/pnpm-lock.yaml

# Medicine_Service
Medicine_Service/node_modules
Medicine_Service/dist
Medicine_Service/pnpm-lock.yaml

# Auth_Service
Auth_Service/node_modules
Auth_Service/dist
Auth_Service/token.json
Auth_Service/pnpm-lock.yaml

# Patient_Service
Patient_Service/node_modules
Patient_Service/dist
Patient_Service/pnpm-lock.yaml

# Doctor_Service
Doctor_Service/node_modules
Doctor_Service/dist
Doctor_Service/pnpm-lock.yaml

# Appointment_Service
Appointment_Service/node_modules
Appointment_Service/dist
Appointment_Service/pnpm-lock.yaml

# frontend
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

frontend/# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?


Medicine_Service/node_modules