<div class="text-wrapper">Meet After 7 Days</div>
<div class="med-header">
  <div class="navbar">
    <div class="div">Name</div>
    <div class="text-wrapper-2">Dosage</div>
    <div class="text-wrapper-3">When</div>
    <div class="text-wrapper-4">Duration</div>
  </div>
  <hr style="margin-top: 25px" />
</div>
<div class="tests">
  <div class="advice-header">Tests</div>
  <div class="advice-entry">Neurological Exam</div>
  <div class="advice-entry">MRI Brain</div>
</div>
<div class="advices">
  <div class="advice-header">Advice</div>
  <div class="advice-entry">30 minutes morning walk</div>
  <div class="advice-entry">Drink Water</div>
</div>
