<%- include('./style.ejs') %>
<!DOCTYPE html>

<html>
  <head>
    <body>
      <!-- main div -->
      <div class="box">
        <div class="group">
          <div class="overlap"></div>
        </div>
      </div>
      <!-- end of main div -->
    </body>
  </head>
</html>
